{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<link href="{% static 'css/lista_produtos.css '%}" rel="stylesheet">
{% endblock %}

{% block 'conteudo' %}

<div class="bloco-total">
    <div class="bloco-info">
        <div class="bloco-input-text">
            <div class="juntar-linha">
                <label class="texto-label"> Nome:</label>
                <input class="input-cad" id="produto-autocomplete" type="text">
                <label class="texto-label"> Codigo:</label>
                <input class="input-cad" type="search" name="codigo">
                <button class="btn-cadastro">Confirmar </button>
            </div>
            <div class="venda">
                <form action="{% url 'compra_produtos' %}" method="POST">{% csrf_token %}
                <table>
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Marca</th>
                            <th>Código</th>
                            <th>Valor</th>
                            <th>Quantidade</th>
                            <th>Cancelar</th>
                        </tr>
                    </thead>
                    <tbody id="tabela_produtos">
                        {% for produto in tabela_produtos %}
                        <tr> 
                            <td>{{ produto.nome }}</td>
                            <td>{{ produto.marca }}</td>
                            <td>{{ produto.codigo }}</td>
                            <td>R$ {{ produto.venda }}</td>
                            <td>
                                <input type="number" name="quantidade" value="1" min="1">
                                <input type="hidden" name="produto_id" value="{{ produto.id }}">
                            </td>
                            <td><button class="btn-cancelar" data-prod-id="{{ produto.id }}">Cancelar</button></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <select name="tipo_pagamento">
                    {% for tipo_pagamento in tipo_pagamentos %}
                    <option value={{tipo_pagamento.0}}>{{tipo_pagamento.1}}</option>
                    {% endfor %}
                </select>
                <button class="btn-cadastro">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var lista_de_produtos = [
        {% for produto in todos_prod %}
            { label: "{{ produto.nome }}", value: "{{ produto.id }}" },
        {% endfor %}
    ];
    var addProdutoUrl = "{% url 'add_produto' %}";
    var ProdutoSelecionadoUrl = "{% url 'produto_selecionado' %}";
    var removeProductUrl = "{% url 'remove_product' %}";
    var csrfToken = '{{ csrf_token }}';
</script>

<script src="{% static 'js/venda_produtos.js' %}"></script>
{% endblock %}
